---
import HeadCommon from '@components/HeadCommon';
import HeadSEO from '@components/HeadSEO';
import Header from '@components/Header/Header';
import Footer from '@components/Footer/Footer';
import Body from '@components/Body';
import FeaturedArticle from '@components/FeaturedArticle';

import SponsorsGrid from '@components/Sponsors/SponsorsGrid';
import Sponsor from '@components/Sponsors/Sponsor';
import sponsors from '../sponsors.json';

import { getCollection } from 'astro:content';
export const supporters = (await getCollection('supporters'));

import '../styles/theme.css';
import '../styles/index.css';

const { content = {} } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en" x-data="siteTheme" x-bind:class="{'theme-dark': theme == 'dark'}">
<head>
  <HeadCommon />
  <HeadSEO {content} {canonicalURL} />

  <style>
    .container {
      padding-block: clamp(2rem, 7vw, 3rem);
      padding-inline: 2rem;
      max-width: 90ch;
      margin: 0 auto;
    }
  
    .hero {
      background-color: var(--theme-bg-alt);
      padding: 4rem 0;
      color: var(--theme-brand-primary);
    }
    :root.theme-dark .hero {
      color: hsl(236, 47%, 94%);
    }

    .hero-heading {
      font-weight: 700;
      line-height: 1.5;
      font-size: clamp(1.8rem, 3.6vw, 2rem);
    }
  
    .hero-caption {
      line-height: 1.5;
      font-size: clamp(1.2rem, 3.6vw, 1.4rem);
    }
  
    .heading-medium {
      font-size: 1.5rem;
    }
  
    :root.theme-dark .supporters {
      background-color: hsl(215deg 27% 26%);
    }
    .supporters * {
      color: #fff;
    }
  
    .supporters a {
      font-weight: 700;
      color: #fff;
      text-decoration: none;
      border-bottom: 1px dotted #fff;
    }
  
    .supporters .supporters-heading {
      font-size: 1.4rem;
      font-size: clamp(1.1rem, 3vw, 1.4rem);
      background-color: #fff;
      color: var(--theme-brand-primary);
      display: inline-block;
      border-radius: 5em;
      padding: .5em .8em;
    }
  </style>
</head>
<Body>
  <Header {currentPage} />

  
  <main>
    <section class="hero">
      <div class="container">
        <h1 class="hero-heading" style="margin:0;">
          Email Markup Consortium
        </h1>
        <p class="hero-caption">
          A community group working to improve the user experience, accessibility, performance, consistency, and reliability of email markup
        </p>

        <p>
          Senders, recipients, and email clients share common goals. We collaborate with relevant parties to work towards these goals and establish a better path for HTML email. Read <a href="/en/docs/mission" class="txt-bold">our misson</a>.
        </p>

        <br>
        <p>
          <strong>Looking to help us?</strong> There are different ways for individuals and companies. Read our <a href="/en/how-to-help" class="txt-bold">Contribution Guide</a>.
        </p>
        <p>
          Or <a href="https://forms.gle/WehDtXRH5oYTVCFG6" class="txt-bold">sign your support</a> and join <a href="/en/supporters" class="txt-bold">{supporters.length} industry professionals</a> who publicly support us.
        </p>
      </div>
    </section>

    <section>
      <div class="container">
        <h2 class="heading-medium">
          Featured Reads
        </h2>
        <FeaturedArticle 
          title="Accessibility Report 2025" 
          desc="Read our latest report on the state of the accessibility in HTML emails and learn how 99.89% of emails tested, contain issues categorized as “Serious” or “Critical”."
          link="/en/reports/accessibility/2025/"
        />

        <FeaturedArticle 
          title="Email Client Feature Support Rankings" 
          desc="Email client feature support ranks in various categories such as performance, accessibility and internationalization."
          link="/en/reports/email-clients/feature-support-rankings/"
        />

        <FeaturedArticle 
          title="Our Vision" 
          desc="The Email Markup Consortium's vision for more consistent rendering in email clients."
          link="/en/docs/vision/"
        />

        <FeaturedArticle 
          title="Compliant Standards" 
          desc="A document that lays out the standards of what that markup should look like. This document is aimed at top level ideas of what the email markup should do, not specific ways to code."
          link="/en/docs/compliant-standards/"
        />
      </div>
    </section>

    <section class="bg-brand supporters">
      <div class="container">

        <h2 class="supporters-heading">
          ❤️ Made Possible By Many
        </h2>

        <p>
          The Email Markup Consortium is an independent not-for-profit community group. Our Sponsors and Partners ensure we can continue working towards our goals.
          And the hard work of many individuals moves us forward.
        </p>
        <p style="margin-top:1rem;">
          Anyone can <a href="https://opencollective.com/email-markup-consortium">Donate on OpenCollective</a>
          <br>
          Businesses have the option to <a href="/en/sponsors">Sponsor the EMC</a>
        </p>

        <h3>Sponsors</h3>
        <SponsorsGrid>
          {sponsors
            .filter(item => item.sponsor)
            .map(item => <Sponsor sponsor={item} />)
          }
        </SponsorsGrid>

        <h3>Partners</h3>
        <SponsorsGrid>
          {sponsors
            .filter(item => item.partner)
            .map(item => <Sponsor sponsor={item} />)
          }
        </SponsorsGrid>


        <h3>Supporters</h3>
        <p>
          Many industry professionals support us with our mission. See a <a href="/en/supporters">full list of EMC supporters</a>.
        </p>
      </div>
    </section>
  </main>

  <Footer />

  
</Body>
</html>
