---
import FormattedDate from '@components/FormattedDate';
const { link, title, desc, publishedDate } = Astro.props;
---

<article class="featured-article">
  <h3 class="featured-article-heading">
    <a href={link}>
      {title}
    </a>
  </h3>

  {(publishedDate) &&
    <div class="article-meta">
      <p>
        {publishedDate && <FormattedDate date={publishedDate} />}
      </p>
    </div>
  }

  <p>{desc}</p>

  <div class="article-footer">
    <a href={link}><b>Read more →</b></a>
  </div>
</article>

<style>
  .featured-article {
    border-radius: 1em;
    border: 1px solid var(--theme-text-light);
    padding: 2em 1.5em;
    background-color: rgb(248 249 252);
  }

  .featured-article+.featured-article {
    margin-top: 1em;
  }

  .featured-article-heading a {
    font-size: 1.3rem;
    text-decoration: none;
  }

  .article-meta {
    margin-top: -.8rem;
    margin-bottom: 1rem;
  }

  .article-footer {
    margin-top: 1rem;
  }

  :root.theme-dark .featured-article {
    background-color: var(--theme-bg-alt);
  }

  :root.theme-dark .featured-article-heading a {
    color: #fff;
  }
</style>